version: '3.8'
services:
  proxy:
    image: edgd1er/nordvpn-proxy:latest
    #image: bubuntux/nordvpn:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "1081:1080"
    devices:
      - /dev/net/tun
    sysctls:
      - net.ipv4.conf.all.rp_filter=2
    cap_add:
      - SYS_MODULE
      - NET_ADMIN
    env_file:
      - nordVpn_Credentials
    environment:
      - TZ=Europe/Paris
      - DNS=1.1.1.1@853#cloudflare-dns.com 1.0.0.1@853#cloudflare-dns.com
      #      - NORDVPN_USER=<email>
      #      - NORDVPN_PASS='<pass>'
      - NORDVPN_COUNTRY=estonia
      - NORDVPN_PROTOCOL=udp
      - NORDVPN_CATEGORY=p2p